@use '../abstracts/variables' as *;

.dark {
  --color-background: #{$dark-background};
  --color-background-secondary: #{$dark-background-secondary};
  --color-background-tertiary: #{$dark-background-tertiary};
  --color-text-primary: #{$dark-text-primary};
  --color-text-secondary: #{$dark-text-secondary};
  --color-text-muted: #{$dark-text-muted};
  --color-border: #{$dark-border};
  --color-border-subtle: #{$dark-border-subtle};
  --color-accent-1: #{$dark-accent-1};
  --color-accent-2: #{$dark-accent-2};
  --color-accent-3: #{$dark-accent-3};
  --color-accent-4: #{$dark-accent-4};
  --color-accent-5: #{$dark-accent-5};
  --color-primary: #{$dark-primary};
  --color-primary-dark: #{$dark-primary-dark};
  --color-secondary: #{$dark-secondary};
  --color-secondary-dark: #{$dark-secondary-dark};
}
